<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About Us</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
    .fa {
        padding: 20px;
        font-size: 15px;
        width: 50px;
        text-align: center;
        text-decoration: none;
        margin: 5px 2px;
        border-radius:50%;
      }
      
      .fa:hover {
          opacity: 0.7;
      }
      
      .fa-facebook {
        background: #3B5998;
        color: white;
      }
      
      .fa-twitter {
        background: #55ACEE;
        color: white;
      }
      
      .fa-google {
        background: #dd4b39;
        color: white;
      }
      
      .fa-linkedin {
        background: #007bb5;
        color: white;
      }
    </style>
</head>

<body>

  <!-- Navbar (You can create a separate navbar component) -->
  <nav class="navbar navbar-inverse" style="background-color: #141414;">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar" style="color: aliceblue;">
        <ul class="nav navbar-nav">
          <li> <img src="{% static 'img/logo.jpg' %}" alt="logo" style="width:60px; height:50px"></li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <li><a href="home.html">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Libraries</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
          <li><a href="#"><span class="glyphicon glyphicon-user"></span> Registration</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container text-center">
    <div class="row">
      <div class="col-sm-12">
        <h3 style="color:Red;">Rural Development</h3>
        <p style="font-size:x-large;"><i>Educational development in rural areas is a critical component of ensuring equitable access to quality education for all. In these often marginalized regions, addressing educational disparities and promoting learning opportunities is essential for the overall development and empowerment of communities. One of the key challenges in rural educational development is improving infrastructure, including the construction and maintenance of schools, provision of clean drinking water and sanitation facilities, and ensuring reliable transportation for students. Adequate infrastructure is fundamental to creating a conducive learning environment. Another vital aspect of educational development in rural areas is the recruitment and training of qualified teachers. Attracting skilled educators to rural schools and providing them with professional development opportunities can enhance the quality of education and help bridge the urban-rural education</i></p>
      </div>
    </div>
  </div><br /><br />
  <div class="container-fluid" style="background-color:#141414 ;height: 380px; color: aliceblue;margin: left -3px;;">
    <div class="row">
      <div class="col-sm-4">
        <h1 style="color: aliceblue;">Location</h1>
      </div>
      <div class="col-sm-4">
        <h1 style="color: aliceblue;">Contact Us</h1>
      </div>
      <div class="col-sm-4">
        <h1 style="color: aliceblue;">Opening hours</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <h3></h3>
      </div>
      <div class="col-sm-4">
        <h3></h3>
      </div>
      <div class="col-sm-4">
        <h3></h3>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <h3></h3>
      </div>
      <div class="col-sm-4">
        <h3>Email:</h3>
      </div>
      <div class="col-sm-4">
        <h3></h3>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
      </div>
      <div class="col-sm-4" style="text-shadow:1px 1px red;">
        <h3></h3>
      </div>
      <div class="col-sm-4">
      </div>
    </div>
    <div class="row">
      <hr />
      <marquee scrollamount="12">
        <h4 style="font-size:large;">Grow your mind and better opportunities you will find</h4>
      </marquee>
      <hr />
    </div>
    <div class="row" style="text-shadow:1px 1px yellow; margin:20px;">
      <a href="http://facebook.com" class="fa fa-facebook"></a>
      <a href="http://twitter.com" class="fa fa-twitter"></a>
      <a href="http://google.com" class="fa fa-google"></a>
      <a href="http://linkedin.com" class="fa fa-linkedin"></a>
    </div>
  </div>

</body>

</html>
