<style>
  /* Custom hover animation */
        .navbar-nav .nav-item:hover .nav-link {
            background-color: #007bff; /* Change background color on hover */
            color: #fff; /* Change text color on hover */
            border-radius: 5px;
            transition: background-color 0.3s, color 0.3s;
        }
    </style>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item  mx-5">
          <a class="nav-link" href="{% url 'users:mentor' %}">Connect With Mentor</a>
        </li>
        <li class="nav-item  mx-5">
          <a class="nav-link" href="{% url 'course:list' %}">Enroll In Course</a>
        </li>
        <li class="nav-item  mx-5">
          <a class="nav-link" href="{% url 'library:books' %}">Study Materials</a>
        </li>
        <li class="nav-item  mx-5">
          <a class="nav-link" href="#">Latest Feeds</a>
        </li>
        <li class="nav-item  mx-5">
          <a class="nav-link" href="#">Connect With Chat</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
