{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %} Password Change {% endblock title %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 col-lg-8 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body mx-4">
                    <h5 class="card-title text-center"><b>Password Change</b></h5><br />
                    <p>*Please enter your old password, for security’s sake, and then enter your new password twice so we can verify you typed it in correctly.</p>
                    <form class="form-signin" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <fieldset class="form-group"><br />
                            {{ form | crispy }}
                        </fieldset>
                        <br />
                        <div class="d-grid gap-2 col-12 mx-auto page-button">
                            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Change My Password
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
