{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %} Password Reset {% endblock title %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 col-lg-8 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body mx-4">
                    <h5 class="card-title text-center"><b>Enter New Password</b></h5><br />
                    <p>*Please enter your new password twice so we can verify you typed it in correctly.</p>
                    <form class="form-signin" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <fieldset class="form-group"><br />
                            {{ form | crispy }}
                        </fieldset>
                        <br />
                        <div class="d-grid gap-2 col-12 mx-auto">
                            <button class="btn btn-lg btn-primary text-uppercase" type="submit">Change My Password
                            </button>
                        </div>
                        <br /><br />
                        <small>
                            <p class="text-center">
                                Not registered yet?
                                <a href="{% url 'core:signup' %}"><u><b>Register Now!</b></u></a>
                            </p>
                        </small>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
